<div class="form">
    <h1 class="datos">Escribe tu blog</h1>
    <div class="titulo">
        <label  for="titulo">Titulo: </label>
        <input type="text" placeholder="Mi blog" id="titulo" [(ngModel)]="titulo"> 
    </div>
    <div class="fecha">
        <label  for="fecha">Fecha: </label>
        <input type="date" placeholder="2022/06/06" id="fecha" [(ngModel)]="fecha"> 
    </div>
    <div class="imagen">
        <label for="imagen">Imagen: </label>
        <input type="text" placeholder="Url" id="imagen" [(ngModel)]="imagen"> 
    </div>
    <div class="texto">
        <label for="texto">Noticia: </label>
        <br/>
        <textarea type="text" placeholder="Contenido de mi blog" id="name" [(ngModel)]="texto"></textarea> 
    </div>
    <button (click)="guardarNocias()">Guardar</button>
</div>    
<hr>
<section>
    <h1>NOTICIAS</h1>
    <div class="cards" [innerHTML]="noticia">
    </div>
</section>