.form {
    
    max-width: 500px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid black;
    background-image: url("https://i.pinimg.com/236x/91/1a/0f/911a0fe6868cf62600e03f7acba21a52.jpg");
   
}
.datos {
    text-align: center;
}
 .titulo, .fdecha {
    display: flex;
}